$black-text: black;
$magic-mint: #92f1d2;
$viking: #57ddaf;
$title-block-bottom: #57dcaf;
$gun-powder: #4c4b62;
$tuna: #353449;
$white: #fff;
$aqua-haze-gradient: linear-gradient(
  180deg,
  #edf3f1 0%,
  rgba(237, 243, 241, 0) 100%
);
$img-shadow-right: 15px 10px 30px rgba(122, 122, 122, 0.3);
$img-shadow-left: -15px 10px 30px rgba(122, 122, 122, 0.3);
$img-shadow-down: 5px 50px 30px rgba(122, 122, 122, 0.3);
